{% extends 'base.html' %}

{% block head %}

	<title>
		Road Pulse : Violation detection in real time
	</title>
{% endblock %}
{% block body %}
	<br />
<div class="Header">
		<div class="container">
			<img class="left" src='static\icon1.png' />
			<nav id = "right">
				<ul class="nav_class">
					<li class="navli nav_link a"><a href="#">LOGOUT</a></li>
					<li class="navli nav_link a"><a href="/aboutUs">ABOUT US</a></li>
					<li class="navli nav_link a"><a href="#">DOWNLOAD</a></li>
					<li class="navli nav_link a"><a href="#">HOME</a></li>
				</ul>
			</nav>
		</div>
</div>


<div class = "data">

</div>

{% endblock %}